<body>
  {{#if success}}
    <div class="alert alert-danger">{{success}}</div>
  {{/if}}
  <div>
    <p>Hi there if you want to login go <a href="login">there</a></p>
    <p>if you want to register go <a href="register">there</a></p>
  </div>
</body>
</html>