<body>
    {{#if success}}
      <div class="alert alert-danger">{{success}}</div>
    {{/if}}
  <p> Hey there if you're here, it's because you've success in register and login on this website ! </p>

  <p> Congrats !!! whouwhou ...</p>

  <p> very soon some great stuff are coming...</p>

  <p> but for now you can just logout :</p>

  <form action="/logout" method="get">
   <div>
        <input type="submit" value="Log Out"/>
    </div>
  </form> 

</body>